 h1 {
  color: #662A75;
  font-size: 56px;
} 
h2 {
 color: #2A5E75;
 font-size: 36px;
}
 h3 {
  color: #75412A;
  font-size: 24px;
}
h4 {
 color: #39752A;
 font-size: 16px;
}
.container {font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.hero-unit__background-image {
  background-image: url("abbeyjanicek.github.io/resume-background-pic.jpg");
 background-size: cover;
  opacity: 0.7;
}
 
